body {
     background-color: rgb(217, 0, 0);
     color: white;
     font-family: 'Courier New', Courier, monospace;
}


img {
    max-width: 70%;
    width: 600px;
}


section {
background-color: rgb(0, 0, 0);

padding: 20px;

border: radius 400px; ;
}

nav a {
color: rgb(10, 243, 177);
front-size: 20px;
border: 1px solid rgb(170, 164, 254);
padding: 10px;
text-decoration:dotted ;
border-radius: 10px;
}

